* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
    background-color: #004487;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.notfound .notfound-404 {
    position: relative;
    height: 500px;
    margin-bottom: 0px;
    z-index: -1;
}

.notfound h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%);
    font-size: 5vw;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: -25px;
    color: #030005;
    text-transform: uppercase;
    text-shadow: -2px -2px 2px #005bb7, 2px 2px 2px #5ea5d7;
}

.notfound a {
    font-family: 'Limelight', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #5ea5d7;
    text-decoration: none;
    border: 5px outset #005bb7;
    background: transparent;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    color: #5ea5d7;
    border: 5px inset #5ea5d7;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h2 {
        font-size: 9vw;
        letter-spacing: 0px;
    }
    .notfound .notfound-404 h1 {
        font-size: 20vw;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
        font-size: 23vw;
    }
}
