on:
  issues: 
    types: [closed]
jobs:
  branch:
    if:  contains(github.event.issue.labels.*.name, 'pmat-deploy')
    runs-on: ubuntu-latest
    name: Create Branch for PMAT Docker Deployment
    steps:
      - name: Define variables
        shell: bash
        run: |
          ISSUE="${{ github.event.issue.title }}"
          AUTHOR="${{ github.event.issue.user.login }}"
          SPLIT=(${ISSUE//,/ })
          echo 'city='${SPLIT[0]} >> $GITHUB_ENV
          echo 'state='${SPLIT[1]} >> $GITHUB_ENV
          echo 'lcity='${SPLIT[0],,} >> $GITHUB_ENV
          echo 'lstate='${SPLIT[1],,} >> $GITHUB_ENV
          echo 'author='${AUTHOR} >> $GITHUB_ENV
      - uses: peterjgrainger/action-create-branch@v2.0.1
        env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
         branch: "pmat-${{ env.lcity }}-${{ env.lstate }}"
      - name: Checkout
        uses: actions/checkout@master
        with:
         ref: "pmat-${{ env.lcity }}-${{ env.lstate }}"
         persist-credentials: false
         fetch-depth: 0
      - name: Configure Branch Directories
        run: |
           MDCITY="${{ env.city }}"
           rm -r data/ figs/ src/ util/ .github/workflows/ .github/ISSUE_TEMPLATE
           rm *.md LICENSE
           mkdir -p data/ .github/workflows/
           echo "Insert data here" >> data/cool_data.csv
           mv .github/templates/import_template.conf data/import.conf
           mv .github/templates/instruments_template.yml data/instruments.yml
           echo "<h1>Deployment of PMAT for $(sed 's/[A-Z]\+/ &/g' <<< $MDCITY), ${{env.state}}</h1> <br> <h3>Managed by <a href="https://github.com/${{ env.author }}" target="_blank">${{ env.author }}</a></h3> " >> README.md
      - name: Configure workflow
        run: |
         mv .github/templates/template.yml .github/workflows/main_${{ env.lstate }}.yml
         sed -i 's/template_city/${{ env.city }}/g' .github/workflows/main_${{ env.lstate }}.yml
         sed -i 's/template_st/${{ env.state }}/g' .github/workflows/main_${{ env.lstate }}.yml
      - name: stage changed files
        run: git add * .github/*
      - name: Commit files
        run: |
         git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
         git config --local user.name "github-actions[bot]"
         git commit -m "create new branch for PMAT Deployments" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
         branch: "pmat-${{ env.lcity }}-${{ env.lstate }}"
         github_token: ${{ secrets.WORKFLOW_TOKEN }}
